html, body  {
min-height: 100%;
  min-width: 100%;
}

.container{
	display: grid;
    min-width: 100%;
    min-height: 100%;
	grid-template-columns:1fr;
	grid-template-rows: 14vh 100%;
	grid-template-areas: 
	"tnav" 
	"main";
}



.tnav{
	grid-area: tnav;
	background-color: #bfbfbf;


}


.main{
	grid-area: main;
background-color: #FF6600;
margin: 0;
}

.menubar{
		
		width: 100%;
		height:13vh ;
		position: fixed;
		background-color: #333;
}
.menulist{
 margin-left: 65%;
	 	min-width: 30%;
	 	max-width: 40%;
	 	min-height: 8%;
	 	margin-top: 1%;
	 	 
}


.admin{
  background-color: #333;
  min-width: 10%;
  margin-left: 2%;
  margin-top: 1%;
  padding: 8px;
  border: 2px solid #FF6600;
  border-radius: 15px;
  font-family: serif;
  font-weight: 900;
  position: fixed;
  cursor: pointer;


}

.admin a{
	color: #FF6600;
	text-decoration: none;

  font-size: 20px;
}


	

.admin a:hover {background-color: black;


}


ul {


  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
position: fixed; 


}
li {

  float: left;
 border: 2px solid #FF6600;
border-radius: 15px;

margin-right:  3%;
margin-left: 2%;
 
}

li a {
  display: block;
  color: #FF6600;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

.main .bod{
  width:70%;
  border:20px solid #abb4b9;
  margin-top: 1%;
  background-color: #dcd7d4; 
  margin-right: auto;
  margin-left:auto;
}
.main .bod h1{
  font-family: georgian;
  font-size: 30px;
color: #616263;
  padding: 10px;
}
.main .bod h2{
  text-transform: uppercase;
  letter-spacing:3px;
  font-size: 20px;
  color:#7bb6d2;
    padding: 10px;
}
.main .bod p{
  border-bottom:2px solid #f5eeee;
  margin :5px;
  padding: 10px;
}
.main .bod div{
  border-left: 4px solid grey; 
  margin:10px;
  padding:0 10px 0 10px;
}

.dropbtn {
  background-color: #333;
  color: #FF6600;
  padding: 12px;
  font-size: 16px;
  font-family: "times";
  border: 2px solid #FF6600;
  border-radius: 15px;
  position: fixed;

  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	margin-top:10vh;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #111;
}


.dropdown {

  margin-top :0.5% ;
margin-left: 20%;
}


  
  form{
  	margin:0 auto;
  	max-width: 40%;

  }

 .formdiv {
  	padding: 10px;
  }
input[type=text], input[type=password], input[type=email], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{  
  background-color: orange;  
  outline: none;  
}  
 
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  }

img{
  border: 2px solid white;
  border-radius: 10px;
}

 
.table{
    width:100%;
  }
th{

font-family: georgia;
height: 25px;
border:2px white solid;
text-align: center;
font-size: 14px;
padding: 2px;
}
td{
height: 25px;
font-family: georgia;
border:2px white solid;
padding: 2px;
}
  

.label{
  margin: auto;
  background-color: white;
  color:red;
  text-align: center;
  min-height: 30px;
  min-width: 100%;
}