html {
  height: 100%;
}
body {
  min-height: 100%;
}

.container{
  display: grid;
  border-radius: 10px;
  min-height: 100%;
  background-color: #F3EBF6;
  grid-template-columns:20% 80%;
  grid-template-rows:20vh 100%;
  grid-template-areas: 
  "Tnav Tnav" 
  "Snav main";
}



.Tnav{
  grid-area: Tnav;
}

.Snav{
  grid-area: Snav;
}
.main{
  grid-area: main;
} 


.main{

	margin:1%;
  border: 2px solid white;
  background-image: url(../img/back2.png);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100%;
	background-color: #fddb27ff;
  border-radius: 10px;
}

.Tnav {
	
border: 2px solid white;
background-color: #28334aff;
margin: 5px;
border-radius: 10px;
}

.dropbtn {

	font-size:15px;
  font-style: bold;
  background-color: transparent;
  color:  white ;
  padding: 10%; 
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
 
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	
	background-color:#5CDB95;
	border-top: 1px solid #ADD8E6;
	
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn 
{
border-top:1px solid #F3EBF6;

}
.dropdown {
	
 margin-right: 5%;
 margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
  display: inline-block;
  float:right;
  
}
		
		.dropdown-content {
  display: none;
  position: absolute;
  background-color:#F3EBF6;
  min-width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}




.Snav
{
margin: 1%;
background-color:#fddb27ff;
border-radius: 15px;
border: 2px solid white;
}

.Snav ul{
 list-style-type: none;
 margin: 20px;
 padding: 0;
 width: 80%;
 height: 80%;
border: 2px solid white;;
background-color: #28334aff;
border-radius: 10px;
}

.Snav li{
	border: 2px solid white;
	margin: 10px;
	border-radius: 10px;
}


.Snav li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.Snav li a:hover {
  background-color: #5CDB95;
  color: white;
}


#titlelg{
  color: white;
  margin-top: 0%;
  margin-left: 42%;
 border-radius: 20px;

}
#titlelg2{
  color: white;
  margin-left: 0%;
  margin-top: 2%;
   border-radius: 20px;
   position: absolute;

}
#welcome{
  margin-top: 10%;
  color: white;
}
#p1{
  margin-top: 12%;
}



h1{
  font-family: georgia;
  color: #28334aff;
  text-align: center;
}
h2{
  color:#00b1d2ff;
  text-align: center;
  text-transform: uppercase;
}

a{
  text-decoration: none;
color: white;
}
p{
  font-family: georgia;
  color: #ffffff;
 text-indent: 5%;
  margin: 2%  4%;
  text-align: center;
  background-color: #555555;
  border-radius: 20px;}

  .button-info{

  font-family: georgia;
  color: #ffffff;
 text-indent: 5%;
  margin: 2%  4%;
  text-align: center;
  background-color: #555555;
  border-radius: 20px;}

  

button{
  font-family: georgia;
  color: #ffffff;
  padding: 3px 70px;
 text-indent: 5%;
  margin: 10px  auto;
  text-align: center;
  background-color: #555555;
  border-radius: 20px;
}